body{
    margin: 0;
    overflow: scroll;
}

header{ 
    width: 100%;
    background-color: black;
}
header ul{
    padding: 0px;
    margin: 0px;
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    color: white;
}

header ul div{
    display: flex;
    align-items: center;
}
header ul div li{
    padding: 4px;
    font-size: xx-large;
}

.youtubeLogo{
    color: red;
}

.info{
    margin-left: 10px;
}
.hashTag{
    list-style: none;
    display: flex;
    padding: 5px 0px 0px 0px;
    margin: 0;
}
.hashTag li{
    font-size: medium;
}
.hashTag li a{
    text-decoration: none;
    color: darkblue;
    padding: 5px;
}
video{
    width : 100%;
    max-width: 1000px;
    position: sticky;
    top: 0px;
}
.title{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.title div{
    display: flex;
    align-items: flex-start;
}
.videoTitle{
    font-size: x-large;
    font-weight: bold;
}
.dropButton{
    color: gray;
    font-size: small;
    margin-top: 20px;
    margin-right: 10px;
}
.title span{
    color: grey;
    font-size: small;
}


/* TODO 
buttons가 스크린이 확장되어도 벗어나지 않도록 한다.
버튼 DIV 밑에 선이 있었으면 좋겠다.
*/
.buttons{
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    color: grey;
    border-bottom: solid;
    border-bottom-color: grey;
    border-bottom-width: 0.1px;
}
.buttons li{
    display: flex;
    padding: 20px 35px 35px 35px;
    font-size: large;
    font-weight: bold;
    flex-direction: column;
    text-align: center;
}
.buttons li i{
    padding: 10px;
    font-size: x-large;
}
.onClick{
    color: cornflowerblue;
}
/* 
프로필 로고를 동그랗게 잘라서 보여주고 싶다. => width, height, boder
*/
.channelInfo{
    display: flex;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
    justify-content: space-between;
    border-bottom: solid;
    border-bottom-color: grey;
    border-bottom-width: 0.1px;
}
.channelInfo div{
    display: flex;
    align-items: center;
}
.channelInfo img{
    border: groove;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.channelInfo ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.channelInfo ul li{
    padding-left: 20px;
}
.channelName{
    font-size: x-large;
    font-weight: bold;
}
.subscribers{
    font-size: small;
    color: grey;
}
.channelInfo button{
    background: none;
	border: none;
    font-size: large;
    font-weight: bold;
    color: gray;
}
/* 
TODO 
1. upnext 마진 위아래 주기
1-1. 영상 설명 li에 마진 주기
2. 옆에 땡떙이 버튼에 마진 레프트 주기
*/

.relatedVideo{
    width: 100%;
    margin: 10px 0px 0px 10px;  /*위 오른쪽 밑 왼쪽*/
}
.relatedVideo ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}   

.relatedVideo ul li{
    display: flex;
    margin: 0px 0px 20px 0px;
}

.relatedVideo ul li div{
    display: flex;
    margin: 0px 20px 0px 0px;
}
.upNextImage{
    width: 100%;
    flex: 1 1 10%;
}

.relatedVideo ul li .videoTitle{
    display: flex;
    flex-direction: column;
    flex: 1 1 80%;
}

.relatedVideo ul li button{
    height: 100%;
    flex: 1 1 10%;
    background: none;
	border: none;
    font-size: large;
    margin-right: 0px;
}
.relatedVideo ul li {
    font-size: medium;
}
.relTitle{
    font-size: large;
    display: block;
}
.reChannelName{
    font-size: medium;
    color: darkgray;
}
.reChannelViews{
    font-size: small;
    color: darkgray;
}

@media (max-width: 1000px) {
    body .video{
        max-width: none;
    }
}





